.card1text{
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  .card2text{
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  .card3text{
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  .card4text{
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  .card5text{
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  .card6text{
     font-weight: bold;
    font-family: monospace;
    text-align:center;
    font-size: 16px;
  }
  