.card6{ 
 
    margin-right: 900px;
  margin-left:  120pc;
    margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }
  .card5{
    
    margin-right: 900px;
    margin-left: 120pc;
    margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }
  .card4{
   
    margin-right: 900px;
    margin-left: 120pc;
   margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }
  .card3{ 
    margin-right:auto;
    margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }
  .card2{
      margin-right: auto;
    margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }
  .card1{
      margin-right: auto;
    margin-top:20px; 
    width:240px;
    border: 5px solid #222049;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
  }